<nav id="navbar" class="vertical-menu text-center">
  <a href="index.html" >Accueil</a>
  <a href="couverture.html" >Couverture</a>
  <a href="bardage.html" >Bardage</a>
  <a href="renovation.html" >Rénovation</a>
  <a href="chauffagerie.html" >Chauffage</a>
  <a href="extention.html" >Extention</a>
  <a href="plomberie.html" >Plomberie</a>
  <a href="realisation.html" >Photos et réalisation</a>
  <a href="contact.html" >Contact</a>
  <%= image_tag("pouget-bache-250-90.jpg", :alt => "logo pouget", :class => "logo") %>
  <div class="adress">
    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
    <p class="paddingtop">15 Rue de la république</p>
    <p class="paddingbottom">59220 Denain</p>
  </div>
  <div class="row">
    <div class="dropup">
      <a class="col-md-6 dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expended="false" type="button"><i class="fa fa-phone fa-2x" aria-hidden="true"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class=""><h3>03.27.44.20.32</h3></li>
      </ul>

    </div>

    <a href="contact.html" class="col-md-6"><i class="fa fa-adress-book fa-2x" aria-hidden="true"></i> </a>
  </div>
</nav>
