<nav id="navbar" class="vertical-menu text-center">
  <a href="index.html" >Accueil</a>
  <a href="couverture.html" >Couverture</a>
  <a href="renovation.html" >Rénovation</a>
  <a href="bardage.html" >Bardage</a>
  <a href="chauffagerie.html" >Chauffage</a>
  <a href="extention.html" >Extention</a>
  <a href="plomberie.html" >Plomberie</a>
  <a href="realisation.html" >Photos et réalisation</a>
  <a href="contact.html" >Contact</a>
  <%= image_tag("pouget-bache-250-90.jpg", :alt => "logo pouget", :class => "logo") %>
  <div class="adress">
    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
    <p class="paddingtop">15 Rue de la république</p>
    <p class="paddingbottom">59220 Denain</p>
  </div>
  <div class="row">
    <div class="dropup">
      <a class="col-md-6 dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expended="false" type="button"><i class="fa fa-phone fa-2x" aria-hidden="true"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class=""><h3>03.27.44.20.32</h3></li>
      </ul>

    </div>

    <a href="contact.html" class="col-md-6"><i class="fa fa-address-book fa-2x"></i></a>
  </div>
  <div class="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</nav>

<nav class="responsivenav">
         <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu">
         <ul class="main">
               <li><a href="index.html">Accueil</a></li>
               <li><a href="services.html">Nos Services</a></li>
               <li><a href="realisation.html">Nos Réalisations</a></li>
               <li><a href="contact.html">Nous Contacter</a></li>

         </ul>
         <label for="css-toggle-menu" id="css-toggle-menu"></label>
   </nav>
