.values {
  margin-bottom: 0px!important;
  background-color: #7F7F7E!important;
}
.logofooter {
  margin-top: 100px;
  width: 100%;
}
.footer {
  padding-bottom: 100px;
  padding-top: 100px;
  color: white;
  background-color: #BFBFBD;
}
.copyright {
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color:#40403F ;
  color: white;
  padding-top: 20px;
}
.generalbgfooter{
  width: 100%;
  background-size: cover;
  text-transform: uppercase;
  height: 100%;
  color: black;
  margin-top: 0px;

}
.pcolor {
  color: #006768;
}
