@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
.navposition {
  padding-right: 0px !important;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #000C22;
  height: 1000px;
  width: 17vw;
  box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
  position: fixed;
  margin-left: -15px!important;

}


// Specific CSS for your home-page
nav a {
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a {

  border-bottom-width: 1px;
  line-height: 38px;

}




/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 8px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #000C22; /* Add a green color to the "active/current" link */
    color: white;
}
.logo {
  width: 100%;
  height: 127px;
}
.adress {
  color: white;
  font-size: 12px;
}
.adress i {
  padding-top: 5px;
}
nav .row i {
  padding-top: 10px;
}
nav .dropdown-menu {
  background-color: #000C22;
  color: white;
  border-style: none;
  margin-left: 0px;
  width: 100%;
  padding-left: 8px;
  padding-bottom: 12px;
  text-align: center;
vertical-align: middle;
}

// RESPONSIVE GRIDNAV
.gridpage {
  display: grid;
  grid-template-columns:  auto;
}
.gridcontent {
 grid-column-start: 2;
}

@media screen and (max-width:1080px) {
  #navbar {
    display: none;
  }
  .responsivenav{
    display: inherit!important;
  }
}
.responsivenav{
  display: none;
}
@media only screen and (max-width: 1080px){
  nav ul {
  position: relative;
	display: flex;
	flex-wrap: wrap;
	max-width: 1080px;
	margin: 0 auto;
  background: #999;
}
nav ul,
nav li {
	flex: 1;
}
nav li:last-child {
   border-bottom: none;
}
nav a {
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 1.8rem;
}
nav a:hover {
	background: #adacac;
	color: #fff;
}
nav li {
	position: relative;
	line-height: 50px;
	color: #fff;
	text-align: center;
}
nav input,
nav label {
	display: none;
	width: 36px;
	height: 36px;
	background: #555;
	color: #fff;
	text-align: center;
	line-height: 36px;
	font-size: 1.6rem;
	border-radius: 2px;
}
nav label {
   position: relative;
   top: 8px;
   right: 8px;
   transition: .4s;
}
nav label:hover {cursor:pointer;}
nav label:before {
	font-family: FontAwesome;
	font-size: 24px;
	content: "\f0c9";
	text-align: center;
}
   nav {
      position: relative!important;
   }
	nav ul {
		transform: translateY(0);
		box-shadow: 0 0 5px rgba(0,0,0, .7);
      transition: all .5s;
      position: relative;
      width: 100%;
	}
	nav li {
		flex: none;
		width: 100%;
		border-bottom: solid 1px #777;
	}
	nav input[type="checkbox"]:checked + ul  {
		transform: translateY(-100%);
		width: 100%;
		background: #999;
      transition: all .5s;
	}
	nav label{
      display: block;
   }
	nav input[type="checkbox"]:checked + ul li:nth-child(1){
		background: #777;
		color: #fff;
	}
}
