.services {
  height: 200px;
  padding: 10px;
}
.services h4 {
  vertical-align: center;
}
.servicecouverture {
  background: image-url('couverture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  grid-area: servicecouverture;

}
.servicerenovation {
  background: image-url('after.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  grid-area: servicerenovation;
}

.servicebardage {
  background: image-url('bardage2.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: center;
  grid-area: servicebardage;
}
.servicechauffage {
  background: image-url('chauffage1.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: center;
  grid-area: servicechauffage;
}
.serviceextention {
  background: image-url('extension1.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: center;
  grid-area: serviceextention;
}
.serviceplomberie {
  background: image-url('plomberie1.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: center;
  grid-area: serviceplomberie;
}
.servicesgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "servicecouverture servicerenovation"
  "servicebardage servicechauffage"
  "serviceextention serviceplomberie";
  grid-gap: 10px;
  background-color: #BFBFBD;
}
