p {
  font-family: 'Roboto Slab', serif;
  margin:0px!important;
}
// CLASS
.fontcolor1{
  color: #003d3e!important;
}

.margintop {
  margin-top: 15px;
}

.marginbottom {
  margin-bottom: 15px;
}
.paddingtop {
  padding-top: 12px;
}
.paddingleft {
  padding-left: 15px;
}
.paddingbottom {
  padding-bottom: 15px;
}

.radiantbg {

}
.topfont {
  font-size: 12px;
}
.col-md-2 {
  margin-left: -15px!important;
}


.pageposition {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: -13px!important;


}
.row {
  margin-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
}
.pageposition p , h2, label {

}
h1 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;

}
body h2 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}




.presentation {
  margin-bottom: 10%;
  margin-top: 5%;
}

.features {
  margin-bottom: 10%;
  margin-top: 5%;
}

.about {
  margin-bottom: 10%;
}

.about-image {
  width: 100%;
  height: 100%;
}

.about-text {
  margin-top: 5%;
}



.value-image {

}

/* COUVERTURE */
.couvertureimg {
  height: 400px;
  width: 100%;
  box-shadow: 1px 1px 1px 1px grey;
  margin-top: 15px;
}
.couvertureimg2 {
  height: 400px;
  width: 100%;
  box-shadow: 1px 1px 1px 1px grey;
  margin-left:  10px;
  margin-top: 15px;
}
.couverture {

  padding-top: 50px;
  padding-bottom: 50px;


}
hr {

    width: 25%;
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;


}

/* RENOVATION */



/* PHOTOS ET REALISATIONS */
.realisationbg {
  background-color: #E5E5E3;
}
.gallery {
  padding-bottom: 50px;
  padding-top: 50px;
}


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;

}


.filter-button
{
    font-size: 18px;
    border: 1px solid #7F7F7E;
    border-radius: 5px;
    text-align: center;
    color: #527975;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #7F7F7E;
    border-radius: 5px;
    text-align: center;
    color: #006768;
    background-color: #BFBFBD;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: #006768;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/* CONTACT */
.messages {
  padding-top: 20px;
  padding-bottom: 20px;
}
.controls {
  padding-bottom: 10px;
}
.fontsizecontact {
  font-size: 18px;
}

.contactbg {
  margin-bottom: 25px !important;
}
