
<div class="paddingleft">
  <h1 class="text-center couverture fontcolor1">J.P.Pouget : Spécialistes en couverture près de Denain dans le Pas De Calais</h1>
</div>
<hr>


<div class="radiantbg">


<div class="row">
  <div class="col-md-6">

    <h4 class="paddingleft fontcolor1">Réalisation de couvertures de toit pour industriels et professionnels vers Lens, Béthune</h4>
    <p class="paddingleft paddingtop">Vous pouvez faire confiance à nos compétences, au travail de qualité proposé pour les milieux industriels et professionnels. Nous sommes agréés pour tous travaux de grande hauteur et intervenons en urgence, en fonction des chantiers, sur rendez-vous. Nous saurons nous adapter à vos besoins, quel que soit vos attentes au niveau couverture, mais également désamiantage, bardage, désenfumage…</p>
    <br>
    <p class="paddingleft">Nous nous déplaçons dans vos locaux pour toute étude gratuite et personnalisée de vos besoins.</p>
  </div>
  <div class="col-md-6">
    <%= image_tag("couverture.jpg", :alt => "couverture img", :class => "couvertureimg") %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
  <%= image_tag("couverture2.jpg", :alt => "couverture img", :class => "couvertureimg2 marginbottom") %>
</div>
<div class="col-md-6">

  <h4 class="fontcolor1">Réalisation, réparation de couvertures en tuiles ou ardoises vers Douai, Cambrai</h4>
  <p>La couverture vous garantit une bonne étanchéité de votre charpente et lui offre une certaine esthétique. Elle doit être solide, résister aux différentes intempéries (pluie, grêle, différence de température). Elle doit aussi être durable, pouvoir conserver toutes ses propriétés, quelles que soient les conditions climatiques.</p>
  <br>
  <p>Nous réalisons et réparons toute couverture en tuiles (cassées, manquantes) ou ardoises (naturelles, fibres-ciment) et autres éléments liés aux accessoires de couverture. Si vous avez le moindre doute, contactez notre équipe de couvreurs expérimentés et compétents, se déplaçant partout dans le Nord-Pas-de-Calais.</p>
  <br>
  <p class="paddingbottom">Concernant le dépannage (intervention sur fuite, bâchage suite à un sinistre), nous sommes également présents. Nous posons aussi des fenêtres de toit ainsi que des gouttières et tout accessoire de couverture.</p>

</div>

</div>
</div>
