<div class="realisationbg">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title fontcolor1">Nos Réalisations :</h1>
    </div>

    <div align="center">
      <button class="btn btn-default filter-button" data-filter="all">Tout</button>
      <button class="btn btn-default filter-button" data-filter="couverturefolio">Couverture</button>
      <button class="btn btn-default filter-button" data-filter="renovationfolio">Rénovations</button>
      <button class="btn btn-default filter-button" data-filter="extentionfolio">Extention</button>
      <button class="btn btn-default filter-button" data-filter="plomberiefolio">Plomberie</button>
    </div>
    <br/>




    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter couverturefolio single-portfolio">
      <a href="#" class="gallery-item"> <img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive" alt="Trolltunga, Norway"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter renovationfolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter couverturefolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter plomberiefolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter extentionfolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter plomberiefolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter extentionfolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter plomberiefolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter plomberiefolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter couverturefolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter extentionfolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter renovationfolio single-portfolio">
      <a href="#" class="gallery-item"><img src="http://fakeimg.pl/365x365/" class="paddingleft img-responsive"></a>
    </div>
  </div>
</div>
