<div class="row">
  <a href="services.html" class="col-xs-6 services servicecouverture">

    <h4>Couverture</h4>

  </a>
  <a href="#" class="col-xs-6 services servicerenovation">

    <h4>Rénovation </h4>

  </a>
</div>
<div class="row">
  <a href="services.html" class="col-xs-6 services servicebardage">

    <h4>Bardage</h4>

  </a>
  <a href="#" class="col-xs-6 services servicechauffage">

    <h4>Chauffage </h4>

  </a>
</div>
<div class="row">
  <a href="services.html" class="col-xs-6 services serviceextention">

    <h4>Extention</h4>

  </a>
  <a href="#" class="col-xs-6 services serviceplomberie">

    <h4>Plomberie </h4>

  </a>
</div>
