<div class="servicesgrid paddingbottom">
  <a href="services.html" class="services servicecouverture">

    <h4>Couverture</h4>

  </a>
  <a href="#" class="services servicerenovation">

    <h4>Rénovation </h4>

  </a>

  <a href="services.html" class="services servicebardage">

    <h4>Bardage</h4>

  </a>
  <a href="#" class="services servicechauffage">

    <h4>Chauffage </h4>

  </a>
  <a href="services.html" class="services serviceextention">

    <h4>Extention</h4>

  </a>
  <a href="#" class="services serviceplomberie">

    <h4>Plomberie </h4>

  </a>
</div>
